@import '../../public/variables';

#uploadContainer {
  padding: 2rem 4rem;
  border: 0.25rem solid $base;
  box-sizing: border-box;
  border-radius: 1rem;
  cursor: pointer;
  transition: $transition;
}

#uploadContainer:hover {
  border: 0.25rem solid $hover;
  transition: $transition;
}

#uploadContainer:hover #main, #uploadContainer:hover #subtext {
  color: $hover;
  transition: $transition;
}

#uploadText {
  text-align: center;
}

#uploadText p {
  transition: $transition;
}

#main {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

#subtext {
  font-size: 1rem;
}

#files {
  font-size: 1rem;
  color: $inputDefault;
  margin: 0;
}