@import '../../public/variables';

#container {
    margin: 0 $border;
}

@media (max-width: $mobile) {
    #container {
        margin: 0 $sm-border;
    }
}

@media (max-width: $sm-mobile) {
    #container {
        margin: 0 $xs-border;
    }
}