@import '../../../../styles/variables';

.container {
  align-items: center;
  background-color: white;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 14rem;
  justify-content: space-between;
  left: 50%;
  padding: 2.5rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1010;
}

.inputContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.label {
  margin: 0;
}

.input,
.select {
  background-color: $inputFill;
  border: none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  font-size: 1rem;
  margin-left: 0.6rem;
  outline: none;
  padding: 0.375rem 0.75rem;
}

.input:focus .select:active {
  background-color: $inputFocusFill;
}

.titleInput {
  margin: 0;
  width: 100%;
}

.expireInput {
  width: 4rem;
}

.select {
}
