$base: #2a2c30;
$hover: #525761;
$inputDefault: #8d919a;
$inputFill: #f0f0f0;
$red: #ef626c;
$orange: #efa662;
$yellow: #edcf66;
$green: #71c074;
$blue: #5da9d3;
$purple: #9e79db;
$pink: #e06ed5;
$gray: #53535c;
$black: #20232a;

$transition: 0.15s ease-in-out;

$border: 2rem;
$sm-border: 1.5rem;
$xs-border: 1rem;

$tablet: 1024px;
$mobile: 480px;

@mixin T {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin M {
  @media (max-width: $mobile) {
    @content;
  }
}
