$base: #2A2C30;
$hover: #525761;
$inputDefault: #8D919A;
$inputFill: #F0F0F0;
$red: #EF626C;
$orange: #EFA662;
$yellow: #EDCF66;
$green: #71C074;
$blue: #5DA9D3;
$purple: #9E79DB;
$pink: #E06ED5;
$gray: #53535C;
$black: #20232A;

$transition: 0.15s ease-in-out;

$border: 2rem;
$sm-border: 1.5rem;
$xs-border: 1rem;

$tablet: 1024px;
$mobile: 480px;
