@import 'variables';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
a,
p,
div,
button,
input,
select {
  color: $base;
  margin: 0;
}

h1,
h2,
h3 {
  letter-spacing: -0.03em;
  margin-bottom: 0.5rem;
}

a,
p {
  margin-bottom: 1rem;
}

a,
p,
div,
button,
input,
select {
  letter-spacing: -0.01em;
}

a {
  text-decoration: none;
  transition: $transition;
}

a:hover {
  color: $hover;
  transition: $transition;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#modal-bg {
  background-color: black;
  height: 100vh;
  left: 0;
  opacity: 0.2;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}
