#header {
  margin: 0;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: -0.05em;
}

#headerContainer {
  margin: 2rem; 
}

#footerContainer {
  margin: 2rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.icon {
  height: 1rem;
  width: auto;
  fill: #2A2C30;
  margin: 0 0.5rem;
}