@import '../../../../styles/variables';

#infoWrapper {
  padding: 2rem 4rem;
  border: 0.25rem solid $base;
  box-sizing: border-box;
  border-radius: 1rem;
  cursor: pointer;
  transition: $transition;
  outline: none;
}

#infoWrapper:hover {
  transform: scale(1.02);
  transition: $transition;
}

#uploadWrapper {
  padding: 2rem 4rem;
  border: 0.25rem solid $base;
  box-sizing: border-box;
  border-radius: 1rem;
}

#textWrapper {
  text-align: center;
}

#mainText {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

#subText {
  font-size: 1rem;
}

#fileLimits {
  font-size: 1rem;
  color: $inputDefault;
  margin: 0;
}

@media (max-width: $tablet) {
  #subtext {
    display: none;
  }
}

@media (max-width: $mobile) {
  #infoWrapper {
    padding: 1rem 2rem;
  }

  #main {
    font-size: 1.2rem;
  }

  #fileLimits {
    font-size: 0.8rem;
  }
}
