@import '../../../../styles/variables';

#infoWrapper {
  border: 0.25rem solid $base;
  border-radius: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  padding: 2rem 4rem;
  transition: $transition;

  @include T {
    padding: 1rem 2rem;
  }
}

#infoWrapper:hover {
  transform: scale(1.02);
  transition: $transition;
}

#uploadWrapper {
  border: 0.25rem solid $base;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 2rem 4rem;
}

#textWrapper {
  text-align: center;
}

#mainText {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.25rem;

  @include T {
    font-size: 1.2rem;
  }
}

#subText {
  font-size: 1rem;

  @include T {
    display: none;
  }
}

#fileLimits {
  color: $inputDefault;
  font-size: 1rem;
  margin: 0;

  @include T {
    font-size: 0.8rem;
  }
}
