@import '../../styles/variables';

.container {
  flex: 1 0 auto;
  margin: 0 $border;
  min-height: auto;

  @include M {
    margin: 0 $sm-border;
  }
}

.inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.textContainer {
  margin-bottom: 4rem;
  text-align: center;
}

.mainText {
  font-size: 2rem;

  @include T {
    font-size: 1.75rem;
  }

  @include M {
    font-size: 1.5rem;
  }
}

.subText {
  font-size: 1.5rem;
  margin: 0;

  @include T {
    font-size: 1.25rem;
  }

  @include M {
    font-size: 1.2rem;
  }
}
