@import '../../../../styles/variables';

$btnSize: 5.5rem;

#track {
    display: flex;
    padding: 1rem $border;
    margin: 0 (-$border);
    align-items: center;
    height: 140px;
}

.red {
    background-color: $red;
}

.orange {
    background-color: $orange;
}

.yellow {
    background-color: $yellow;
}

.green {
    background-color: $green;
}

.blue {
    background-color: $blue;
}

.purple {
    background-color: $purple;
}

.pink {
    background-color: $pink;
}

.gray {
    background-color: $gray;
}

.black {
    background-color: $black;
}

#loadingText {
    color: white;
    font-weight: bold;
    margin: 0;
}

#waveformWrapper {
    flex-grow: 1;
}

.waveform {
    text-align: center;
}

.trackLHS {
    margin-right: $border;
}

#playButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    height: $btnSize;
    width: $btnSize;
    border: white solid 2px;
    border-radius: 50%;
    cursor: pointer;
    transition: $transition;
}

#playButton:hover {
    transform: scale(1.05);
    transition: $transition;
}

#icon {
    height: $btnSize * 0.8;
}

.trackRHS {
    width: 2.5rem;
    margin-left: $border;
    display: flex;
    align-items: center;
}

#progressTime {
    color: white;
    font-weight: bold;
    margin: 0;
    font-size: 1rem;
}

.volumeSlider {
    margin: 0;
}

@media (max-width: $tablet) {
    $btnSize: 4.5rem;
    
    #playButton {
        height: $btnSize;
        width: $btnSize;
    }

    #playButton:hover {
        transform: none;
    }

    #icon {
        height: $btnSize * 0.8;
    }

    #track {
        height: 120px;
    }

    .trackLHS {
        margin-right: $sm-border;
    }
    
    .trackRHS {
        margin-left: $sm-border;
    }
}

@media (max-width: $mobile) {
    $btnSize: 3.5rem;
    
    #playButton {
        height: $btnSize;
        width: $btnSize;
    }

    #icon {
        height: $btnSize * 0.8;
    }

    #track {
        padding: $sm-border $sm-border;
        margin: 0 (-$sm-border);
        height: 100px;
    }

    .trackLHS {
        margin-right: $xs-border;
    }
    
    .trackRHS {
        margin-left: $xs-border;
    }
}
