@import '../../styles/variables';

#header {
  margin: 0;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: -0.05em;
}

#headerWrapper {
  margin: $border; 
}

#footerWrapper {
  margin: $border; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

#footerWrapper svg {
  height: 1rem;
  width: auto;
  margin: 0 0.5rem;
}

#footerWrapper svg path {
  fill: $base;
}

@media (max-width: $mobile) {
  #headerWrapper, #footerWrapper {
    margin: $sm-border;
  }

  #header {
    font-size: 2rem;
  }
}
