#container {
    flex: 1 0 auto;
    min-height: auto;
    margin: 0 2rem;
}

#inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}